body {
    background-color: black;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-block: 0px;
    line-height: 20px;
}

h2 {
    font-size: 22px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

p {
    color: white;
}

form {
    color: white;
    font-size: 14px;
}

input[type=radio] {
    float: left;
    margin-top: 2px;
}

input[type=number] {
    width: 40px;
    float: right;
}

.display-location, .display-location[type=radio] {
    float: right;
}

.checkbox-label, .note, .tooltiptext {
    font-size: 12px;
}

button {
    cursor: pointer;
}

.button-hidden {
    display: none;
}

.advanced {
    display: none;
}

.highlight {
    background-color: darkred;
}

.id-field-wrapper {
    display: none;
}

    .id-field-wrapper label {
        float: left;
        margin-right: 5px;
        margin-left: 22px;
    }

    .id-field-wrapper div {
        overflow: hidden;
    }

    .id-field-wrapper input {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }

.commercial-detection-mode-instructions-wrapper {
    display: none;
    margin-left: 22px;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: rgb(140, 179, 210, .9);
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-style: solid !important;
        border: 1px;
        border-color: rgb(140, 179, 210, .9);
        border-radius: 3px;
        position: absolute;
        left: -130px;
        top: 22px;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }