
.ytoc-overlay-video {
    z-index: 2147483647 !important;
    position: absolute !important;
    margin: auto !important;
}

.ytoc-overlay-screen {
    z-index: 2147483646 !important;
    position: absolute !important;
    margin: auto !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    pointer-events: none !important;
}

.ytoc-overlay-screen-with-hole {
    z-index: 2147483646 !important;
    position: absolute !important;
    pointer-events: none !important;
}

.ytoc-main-video-message-alert {
    color: red !important;
    font-size: 30px !important;
    text-align: center !important;
    text-shadow: 0px 0px 15px black, 0px 0px 15px black !important;
    pointer-events: none;
    padding: 200px 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 2147483647 !important;
    position: absolute !important;
    font-family: "Montserrat", sans-serif !important;
}

.ytoc-overlay-instructions {
    z-index: 2147483647 !important;
    position: absolute !important;
    margin: auto !important;
    cursor: not-allowed !important;
    font-size: 40px !important;
    text-align: center !important;
    text-shadow: 0px 0px 15px black, 0px 0px 15px black !important;
    font-family: "Montserrat", sans-serif !important;
}

.ytoc-click-blocker {
    z-index: 2147483647 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    cursor: help !important;
}

.ytoc-logo {
    z-index: 2147483647 !important;
    position: absolute !important;
    padding: 1px 5px !important;
    font-size: 22px !important;
    font-family: "Montserrat", sans-serif !important;
}

.ytoc-advanced-logo-container {
    z-index: 2147483647 !important;
    position: absolute !important;
    font-size: 22px !important;
    font-family: "Montserrat", sans-serif !important;
}

    .ytoc-advanced-logo-container img {
        width: auto !important;
        height: auto !important;
        max-width: none !important;
        max-height: none !important;
        min-width: auto !important;
        min-height: auto !important;
        object-fit: none !important;
        image-rendering: auto !important;
    }

.ytoc-logo-advanced {
    height: 100% !important;
    color: #12384d;
    background-color: rgb(240, 238, 236);
    padding-left: 5px !important;
    padding-right: 5px !important;
    /*font-variant-numeric: tabular-nums !important;*/
}

.ytoc-selection-indicator {
    z-index: 2147483646 !important;
    position: absolute !important;
    display: inline-block !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    outline: 2px solid red !important;
    outline-offset: 0px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    pointer-events: none !important;
}

.ytoc-audio-level-indicator-container {
    color: rgb(140, 179, 210, 0.9) !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    font-size: 24px !important;
    line-height: 0 !important;
    pointer-events: none;
    z-index: 2147483647 !important;
    position: absolute !important;
    font-family: "Montserrat", sans-serif !important;
    /*display: flex;*/
    align-items: center !important;
}

.ytoc-audio-level-indicator {
    width: 15px !important;
    height: 30px !important;
    background-color: black !important;
    position: relative !important;
    border: 1px solid rgb(140, 179, 210, 0.9) !important;
    display: inline-block !important;
}

.ytoc-audio-level-indicator-bar {
    width: 100% !important;
    /*height: 0;
    background-color: rgb(140, 179, 210, 0.9);*/
    position: absolute;
    bottom: 0 !important;
    transition: height 0.3s ease !important;
}

.ytoc-audio-level-indicator-threshold {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    height: 1px !important;
    background-color: rgb(140, 179, 210, 0.9) !important;
}

.ytoc-audio-level-indicator-countdown {
    margin: 8px !important;
}

.ytoc-advanced-logo-selection-box {
    position: fixed !important;
    border: 2px solid red !important;
    pointer-events: none !important;
    z-index: 2147483647 !important;
}