
/.vs
/.idea
/chrome/.vs
*.task
model/
custom-plugins/examples/vlc-over-commercials/vlc_resume_times.json
custom-plugins/examples/vlc-over-commercials/vlc_media_history.json
companion-app-plugin-party-pack-combo/vlc_media_history.json
