body {
    background-color: rgb(240, 238, 236);
    width: 400px;
    /*font-family: 'Roboto', sans-serif;*/
    overflow-x: hidden;
    margin-top: 0;
    margin: 0;
}

form {
    color: black;
    font-size: 16px;
    margin: 8px;
}

input[type=radio] {
    margin-top: 5px;
    margin-bottom: 5px;
    top: 3px;
    width: 18px;
    height: 18px;
}

input[type=number] {
    width: 40px;
    float: right;
}

.display-location, .display-location[type=radio] {
    float: right;
}

.general-field {
    margin-bottom: 7px;
}

.note, .tooltiptext {
    font-size: 12px;
}

button {
    cursor: pointer;
}

.button-hidden {
    display: none;
}

.advanced {
    display: none;
}

.highlight {
    background-color: darkred;
}

.id-field-wrapper {
    display: none;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 36px;
    background: rgb(18, 56, 77, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.id-field-label {
    margin-bottom: 5px;
}

.id-field-wrapper input {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

.auto-dimensions-field-wrapper {
    display: block;
}

.dimensions-fields-wrapper {
    display: block;
    margin: 5px;
    background: rgb(18, 56, 77, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.pip-fields-wrapper {
    display: none;
}

.firefox-experimental {
    display: none;
}

.commercial-detection-mode-instructions-wrapper {
    display: none;
    margin-left: 31px;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: #12384d;
    cursor: default;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-style: solid !important;
        border: 1px;
        border-color: rgb(140, 179, 210, .9);
        border-radius: 3px;
        position: absolute;
        left: -130px;
        top: 22px;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.keyboard-shortcut {
    color: red;
}

.profile-settings-wrapper {
    display: none;
}

.save-profile-with-id-wrapper {
    display: none;
}

.confirm-delete-profile-wrapper {
    display: none;
}

.confirm-delete-profile-message {
    color: red;
}

.error-message {
    font-size: 12px;
    color: red;
    position: absolute;
}

.success-message {
    font-size: 12px;
    color: green;
    position: absolute;
}

.logo-image {
    display: block;
    margin: auto;
    /*width: 50%;*/
}

.settings-heading {
    font-weight: 700;
    font-size: 18px;
}

.sticky-buttons {
    position: sticky;
    bottom: 0;
    background: rgb(240, 238, 236);
    border-top: 1px solid #ccc;
    padding: 8px;
}

.badge {
    font-size: 12px;
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    border-radius: 5px;
}

.badge-recommended {
    background-color: #12384d;
    color: white;
}

.badge-experimental {
    background-color: darkorange;
    color: white;
}

.mode-how-to {
    background: rgb(255, 255, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

button {
    height: 40px;
}

.display-grid {
    float: right;
    display: grid;
    border: 1px solid #ccc;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 20px);
    /*gap: 5px;*/
    width: fit-content;
}

.grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}

    .grid-cell.selected {
        background-color: #12384d;
        color: white;
        border-color: #12384d;
    }

    .grid-cell:hover {
        /*background-color: #ccc;*/
        border-color: #12384d;
    }

/*----- pixel-select-instructions.html specific styling below -----*/

.overlay-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
