@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgb(240, 238, 236);
    width: 400px;
    overflow-x: hidden;
    margin-top: 0;
    margin: 0;
}

form {
    color: black;
    font-size: 16px;
    margin: 8px;
}

kbd {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}

input[type=radio] {
    margin-top: 5px;
    margin-bottom: 5px;
    top: 3px;
    width: 18px;
    height: 18px;
}

input[type=number] {
    width: 40px;
    float: right;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
    float: right;
}

.general-field {
    margin-bottom: 7px;
}

.note, .tooltiptext {
    font-size: 12px;
}

button {
    cursor: pointer;
}

.button-hidden {
    display: none;
}

.advanced {
    display: none;
}

.highlight {
    background-color: darkred;
}

.id-field-wrapper {
    display: none;
    margin-top: 5px;
    /*margin-right: 5px;*/
    margin-bottom: 5px;
    /*margin-left: 36px;*/
    background: rgb(18, 56, 77, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.id-field-label {
    margin-bottom: 5px;
}

.id-field-wrapper input {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

.id-input-row {
    display: flex;
    gap: 5px;
}

.pull-id-button {
    position: relative;
    display: inline-block;
}

.pull-id-button .pull-id-tooltip {
    visibility: hidden;
    width: max-content;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    border-style: solid !important;
    border: 1px;
    border-color: #ccc;
    border-radius: 3px;
    position: absolute;
    right: -2px;
    bottom: 23px;
    z-index: 999;
}

.pull-id-button:hover .pull-id-tooltip {
    visibility: visible;
}

.auto-dimensions-field-wrapper {
    display: block;
}

.dimensions-fields-wrapper {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgb(18, 56, 77, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.pip-fields-wrapper {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgb(18, 56, 77, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.firefox-experimental {
    display: none;
}

.commercial-detection-mode-instructions-wrapper {
    display: none;
    /*margin-left: 31px;*/
}

.tooltip {
    position: relative;
    display: inline-block;
    color: #12384d;
    cursor: default;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 180px;
        background-color: white;
        color: black;
        /*text-align: center;*/
        padding: 5px;
        border-style: solid !important;
        border: 1px;
        border-color: #ccc;
        border-radius: 3px;
        position: absolute;
        left: -130px;
        top: 22px;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.keyboard-shortcut {
    text-wrap: nowrap;
}

.profile-settings-wrapper {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgb(18, 56, 77, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.save-profile-with-id-wrapper {
    display: none;
}

.confirm-delete-profile-wrapper {
    display: none;
}

.confirm-delete-profile-message {
    font-size: 12px;
    color: red;
}

.error-message {
    font-size: 12px;
    color: red;
    /*position: absolute;*/
}

.success-message {
    font-size: 12px;
    color: green;
    /*position: absolute;*/
}

.logo-image {
    display: block;
    margin: auto;
    /*width: 50%;*/
}

.settings-heading {
    font-weight: 700;
    font-size: 18px;
}

.sticky-buttons {
    position: sticky;
    bottom: 0;
    background: rgb(240, 238, 236);
    border-top: 1px solid #ccc;
    padding: 8px;
}

.badge {
    font-size: 12px;
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    border-radius: 5px;
}

.badge-recommended {
    background-color: #12384d;
    color: white;
}

.badge-experimental {
    background-color: darkorange;
    color: white;
}

.mode-how-to {
    background: rgb(255, 255, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.button {
    height: 40px;
}

.display-grid {
    float: right;
    display: grid;
    border: 1px solid #ccc;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 20px);
    /*gap: 5px;*/
    width: fit-content;
}

.grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}

    .grid-cell.selected {
        background-color: #12384d;
        color: white;
        border-color: #12384d;
    }

    .grid-cell:hover {
        /*background-color: #ccc;*/
        border-color: #12384d;
    }

.pip-grid {
    float: right;
    display: grid;
    border: 1px solid #ccc;
    grid-template-columns: repeat(2, 30px);
    grid-template-rows: repeat(2, 20px);
    /*gap: 5px;*/
    width: fit-content;
}

.pip-grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}

    .pip-grid-cell.selected {
        background-color: #12384d;
        color: white;
        border-color: #12384d;
    }

    .pip-grid-cell:hover {
        /*background-color: #ccc;*/
        border-color: #12384d;
    }

/*----- pixel-select-instructions.html specific styling below -----*/

.overlay-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
